{% extends 'layout.html' %}
{% load static %}

{% block content %}<br/>
    <section class="">
        <div class="hero-image">
            <img src="{% static 'img/Rectangle%2017.jpg' %}" class="img-fluid" alt="Responsive image">
            <div class="hero-text2">
                <p>Things end but memories last forever</p>
                <a href="create-memorial.html" class=""> <button class="btn btn-light btn-lg" style="color: #1F0541;">Create memorials</button></a>
            </div>
        </div>
    </section><br/>
    <section class="mb-3" style="color: #1F0541; ">
          <div class="row justify-content-center container">
              <div class="col-md-8 col-sm-12 p-5">
                  <h3 class="mb-5 mt-3">Let's tell you about us</h3>
                  <h4 style="line-height: 0.5">Our vision</h4>
                  <p class="mb-5">Et esse nisi nisi minim duis cillum aute adipisicing ea qui. Do nulla nulla aliqua eu et cillum et ad officia.</p>
                  <h4 style="line-height: 0.5">Our mission</h4>
                    <p>Et esse nisi nisi minim duis cillum aute adipisicing ea qui. Do nulla nulla aliqua eu et cillum et ad officia.</p>
                </div>
          </div>
    </section>
    <section class=" text-light" style="background-color: #1F0541;">
        <div class="row justify-content-center container">
            <div class=" col-sm-12 col-md-8 p-5 ">
                <h4 class="" >Our Story</h4>
                <p class=""> The concept of a memorial website is not to mourn the dead and remain in self pity or denial but to find strength and joy in the time limited association we had with our departed love ones.</p>
                <p class="">In this part of the world it is very expensive to keep memories in print. The cost of an obituary in the newspaper is exorbitant and some countries don’t allow photographs in newspaper obituaries, moreover obituaries are usually posted once a year on the anniversary of the demise of departed loved one. This lead to the creation of “inourmindsforever.com”.</p>
                <p class=""> This platform gives you a 24/7 access to your memorials, the opportunity to edit and invite other people to contribute. It affords you the room to memorializeyour loved ones for free <a href="plan.html" class="text-decoration-none text-warning">(check our PLANS).</a> For those who are in grief over the loss of a loved one, I am sure that creating a website on our platform would aid the healing process.</p>
                <p class="">We have tried to make the website very user friendly such that people with modest computer skills can navigate comfortably however for a minimal fee we are always prepared to assist.</p>
                <a href="contact.html" class="btn btn-light btn mt-4 mb-5 " style="color: #1F0541;">Contact us</a>
            </div>
        </div>
    </section>
{% endblock %}