<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <title>InourMindsForever</title>
  </head>
  <body style=" background: #E6E0ED;">
      <header class="mb-80px">
        

         
         
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a href="index.html">  <img class="navbar-brand" src="img/logo.jpeg" width="105px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Memorials
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="mem-search.html">Browse memorials</a>
                      <a class="dropdown-item" href="create-memorial.html">Create memorials</a>
                      
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="how.html">How it works</a>
                    <a class="dropdown-item" href="about.html">FAQs</a>
                    <a class="dropdown-item" href="contact.html">Contact us</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav justify-content-end ">
                        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Search Memorials by their last names" href="#"><i class="fa fa-search mr-2"></i></a>
                        <a class="nav-link" href="login.html"><i class="fa fa-lock mr-2"></i>Sign in</a>
                        <a class="nav-link btn btn-primary text-light" href="#"><i class="fa fa-facebook mr-2"></i>Share</a>   
              </ul>
            </div>

          </nav>
      </header>
      
      
      
      <section class="">
           <div class="hero-image">
                <img src="img/account-img.png" class="img-fluid" alt="Responsive image"  height="">
 
  <div class="hero-text2">
      <p>We do not remember days,</p>
      <p>we remember moments</p>
    
     <a href="create-memorial.html" class=""> <button class="btn btn-light btn-lg" style="color: #1F0541;">Create memorials</button></a>
    
  </div>
</div>
          
          
    
      </section>
      
      <section class="container mb-5 " style="color: #1F0541; ">
         
          <div class="row justify-content-center">
              
              
            <div class="col-lg-6 col-md-6 col-sm-12 account">
              
              <form class="form-group">
                  
                   <h3 class="mb-5 mt-5 ">Personal Information</h3>
                
                 <div class="form-email">
                    <label>First name </label>
                    <input type="text" class="form-control" >
                    </div>
                    
                    <div class="form-email">
                    <label>Surname </label>
                    <input type="text" class="form-control" >
                    </div>
                    <div class="form-email">
                        <label>Email </label>
                    <input type="text" class="form-control" >
                    </div>
                   <h3 class="mb-5 mt-5">Change Password</h3>
                  
                  <div class="form-email">
                    <label>Current password </label>
                    <input type="password" class="form-control" >
                    </div>
                    
                    <div class="form-email">
                    <label>New password </label>
                    <input type="password" class="form-control" >
                    </div>
                    <div class="form-email">
                        <label>Repeat new password </label>
                    <input type="password" class="form-control" >
                    </div>
                  
                  <button class="btn btn-lg mt-5" style="color: #E6E0ED; background: #1F0541;">Change password</button>
                
                </form>
              
              
              </div>
          
          </div>
          
      </section>
      

      <section class="container " style="color: #1F0541;" >
          
        <h4 class=" pt-4 pb-4 pl-5">Your memorials</h4>
        <div class="row container justify-content-center">
          
                 
          <div class="card card-margin" style="width: 16rem; ">
              <img src="img/sample.png" class="card-img-top padding-img" alt="...">
              <div class="card-body">
                <h5 class="card-title text-right">Michael Jackson</h5>
                  <p class="text-right">02/02/1912-03/11/2020</p>
                <p class="card-text-p">Let us all gather to celebrate and honor Micheal Jackson by sharing memories of him as a terrific husband, father, son, and brother, all while being a legendary trial attorney and remarkable leader. The world has lost a true giant but Micheal has left an army touched</p>
                <a href="#" class="text-right">View memorial</a>
              </div>
          </div> 
      
        
        
                    
          <div class="card card-margin" style="width: 16rem;">
              <img src="img/sample.png" class="card-img-top padding-img" alt="...">
              <div class="card-body">
                <h5 class="card-title text-right">Michael Jackson</h5>
                  <p class="text-right">02/02/1912-03/11/2020</p>
                <p class="card-text-p">Let us all gather to celebrate and honor Micheal Jackson by sharing memories of him as a terrific husband, father, son, and brother, all while being a legendary trial attorney and remarkable leader. The world has lost a true giant but Micheal has left an army touched</p>
                <a href="#" class="text-right">View memorial</a>
              </div>
          </div>

                  
          <div class="card card-margin" style="width: 16rem; ">
            <img src="img/sample.png" class="card-img-top padding-img" alt="...">
            <div class="card-body">
              <h5 class="card-title text-right">Michael Jackson</h5>
                <p class="text-right">02/02/1912-03/11/2020</p>
              <p class="card-text-p">Let us all gather to celebrate and honor Micheal Jackson by sharing memories of him as a terrific husband, father, son, and brother, all while being a legendary trial attorney and remarkable leader. The world has lost a true giant but Micheal has left an army touched</p>
              <a href="#" class="text-right">View memorial</a>
            </div>
        </div> 
    
      
      
                  
        <div class="card card-margin" style="width: 16rem;">
            <img src="img/sample.png" class="card-img-top padding-img" alt="...">
            <div class="card-body">
              <h5 class="card-title text-right">Michael Jackson</h5>
                <p class="text-right">02/02/1912-03/11/2020</p>
              <p class="card-text-p">Let us all gather to celebrate and honor Micheal Jackson by sharing memories of him as a terrific husband, father, son, and brother, all while being a legendary trial attorney and remarkable leader. The world has lost a true giant but Micheal has left an army touched</p>
              <a href="#" class="text-right">View memorial</a>
            </div>
        </div>

        </div>
      </section>

    
  
              
      <footer  class=" text-light" style="background: #1c0b32;">
        <div class="container">
          <div class="row text-center pt-5">
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p class="">GETTING STARTED</p>               
                    <li class="list-unstyled"><a class="nav-link text-light" href="mem-search.html">Browse Memorials</a></li>
                   <li class="list-unstyled"><a class="nav-link text-light" href="create-memorial.html">Create a Memorial</a></li>
                   <li class="list-unstyled"><a class="nav-link text-light" href="index.html">How It works</a></li>
                  
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p>CONTACT US</p>
              <p>support@inourmindsforever.com</p>
              <p>+2348023016186</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p class="">LINKS</p>
                   
              <li class=" list-unstyled"><a class="nav-link text-light" href="about.html">FAQs</a></li>
             <li class="list-unstyled"><a class="nav-link text-light" href="terms.html">Terms & Conditions</a></li>
             <li class="list-unstyled text-light"><a class="nav-link text-light" href="privacy.html">Privacy Policy</a></li>
             
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12  ">
            <div class="row ">
              <div class="col-md col-sm-12">
                  <div class=" text-center submenu-linka d-flex justify-content-center" >
                     <a href="" class="text-light text-decoration-none pb-3 pr-3"><i class="fa fa-facebook mr-3"></i></a>
                      <a href="" class="text-light  text-decoration-none pb-3 pr-3"><i class="fa fa-twitter mr-3 "></i></a>
                      <a href="" class="text-light  text-decoration-none pb-3"><i class="fa fa-instagram"></i></a>
                      
                  </div>
                  <p class="">COPYRIGHT <span><script>document.write(new Date().getFullYear())</script></span> InOurMindsForever</p>

                </div>
            
              </div>
            </div>

          </div>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>  
</body>
</html>