<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <title>InourMindsForever</title>
  </head>
  <body class="" style="background: #E5E5E5;">
      <header class="mb-80px">
        

         
         
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a href="index.html">  <img class="navbar-brand" src="img/logo.jpeg" width="105px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-center mx-auto">
             
              </ul>
              <ul class="navbar-nav justify-content-end ">
                        <!-- <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Search Memorials by their last names" href="#"><i class="fa fa-search mr-2"></i></a> -->
                        <a class="nav-link btn  text-secondary" href="#"><i class="fa fa-volume-up"></i></a>   
                        <a class="nav-link btn  text-secondary" href="#"><i class=" fa fa-volume-down1  "></i></a>   
                        <a class="nav-link" href="login.html"><i class="fa fa-lock mr-2"></i>Sign in</a>
                        <a class="nav-link" href="create-memorial.html">Create memorials</a>
                        <a class="nav-link mr-3" href="contact.html">Contact us</a>
                        <a class="nav-link btn btn-primary text-light" href="#"><i class="fa fa-facebook mr-2"></i>Share</a>   
              </ul>
            </div>

          </nav>
      </header>
      
      
      
     
           

            <section class="container">
                <div class="row">
                  <div class="col-md-12 bio-image">
                    <img src="img/Rectangle 37.png" class=" img-responsive img-fluid" alt="Responsive image"  height=""> 
                    <div class="row">
                        <div class="col-lg-6 col-md col-sm-6">
                            <div class="carousel-caption">
                                <blockquote class="h2 may">
                                    “Life brings tears, smiles and memories. The tears dry, the smiles fade, but the memories last forever”
                                </blockquote>
                              </div>

                        </div>
                        <div class="col-lg-6 col-md col-sm-123">
                          
                            <div class="img-deceased  ">
                              <img src="img/sam.png"  class="  img-fluid mt-5 first-bio-img"  alt="Responsive image " >
                              <img src="img/sam.png"  class="  img-fluid mt-5 second-bio-img" id="" alt="Responsive image " >
                            
                            </div>
                        
      
                        </div>
                    </div>
                    
                  </div>
                  
                </div>
            </section>

            <section class="container text-center june"  style="color: #1F0541;">
                <h3 class="pt-4">Michael Jackson</h3>
                <p> 1912-2012</p>
            </section>
          
            
            <section class="container">
              <div class="row ">
                  <div class="col-md-6 col-sm-12">
                      <div class="p-2 text-center submenu-link " style="background: #1F0541;">
                          <a href="bio.html" class="text-light text-decoration-none p-2">Biography</a>
                            <a href="tribute.html" class="text-light  text-decoration-none p-2">Tribute</a>
                          <a href="" class="text-light  text-decoration-none p-2 border-bottom border-light">Gallery</a>
                          
                        </div>
                      
                        <div class="inner-gallery d-flex pt-3 pb-4">
  
                          <a class="nav-link  text-secondary btn"  href="gallery-photo.html" >
                          <span style="line-height: 0.5; padding: 0px;" class="nav-link btn  text-secondary " ><i class=" fa fa-image  "></i></span>  
                          <figure class="small" style="margin: 0px;">photos</figure>
                          </a>
                          <a class="nav-link   text-secondary btn"  href="gallery-video.html" >
                            <span style="line-height: 0.5; padding: 0px;" class="nav-link btn text-secondary" ><i class=" fa fa-film "></i></span>  
                            <figure class="small" style="padding: 0px;">videos</figure>
                            </a>
  
                            <a class="nav-link btn  text-light"  href="gallery-music.html" style="background: #1F0541;padding-bottom:0px">
                              <span style="line-height: 0.5; padding: 0px;" class="nav-link btn  text-light "><i class=" fa fa-music"></i></span>  
                              <figure class="small" style="padding: 0px;">music</figure>
                              </a>
  
                       
                        </div>
                     
                      
                  </div>
                  <div class="col-lg-4 col-md">
                    <button class="btn text-light add-button"  style="background: #1F0541;" data-toggle="modal" data-target="#exampleModalCenter">Add music</button>
                      

                  </div>
               
              </div>
          </section>
          

            <section class="container">

                <div class="row">
                    <div class=" col-sm-12 col-md-12 text-center">
                        <p class="music-files"> <i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"> <i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                        <p class="music-files"><i class="fa fa-music mr-3"></i>See you again_Whiz Khalifa_and_Charlie Putt.mp3 </p>
                      
                    </div>
                  </div>
            </section>

            <section class="pop-up">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                      
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <form class="container">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="customFile">
                              <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div>
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                              </div>
                          </form>
                        </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Upload</button>
                      </div>
                  </div>
                  </div>
          </section>


      <footer  class=" text-light" style="background: #1c0b32;">
        <div class="container">
          <div class="row text-center pt-5">
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p class="">GETTING STARTED</p>               
                     <li class="list-unstyled"><a class="nav-link text-light" href="mem-search.html">Browse Memorials</a></li>
                   <li class="list-unstyled"><a class="nav-link text-light" href="create-memorial.html">Create a Memorial</a></li>
                    <li class="list-unstyled"><a class="nav-link text-light" href="index.html">How It works</a></li>
                  
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p>CONTACT US</p>
              <p>support@inourmindsforever.com</p>
              <p>+2348023016186</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-5">

              <p class="">LINKS</p>
                   
              <li class=" list-unstyled"><a class="nav-link text-light" href="about.html">FAQs</a></li>
            
            <li class="list-unstyled"><a class="nav-link text-light" href="terms.html">Terms & Conditions</a></li>
           
              <li class="list-unstyled text-light"><a class="nav-link text-light" href="privacy.html">Privacy Policy</a></li>
             
             
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12  ">
            <div class="row ">
              <div class="col-md col-sm-12">
                  <div class=" text-center submenu-linka d-flex justify-content-center" >
                     <a href="" class="text-light text-decoration-none pb-3 pr-3"><i class="fa fa-facebook mr-3"></i></a>
                      <a href="" class="text-light  text-decoration-none pb-3 pr-3"><i class="fa fa-twitter mr-3 "></i></a>
                      <a href="" class="text-light  text-decoration-none pb-3"><i class="fa fa-instagram"></i></a>
                      
                  </div>
                  <p class="">COPYRIGHT <span><script>document.write(new Date().getFullYear())</script></span> InOurMindsForever</p>

                </div>
            
              </div>
            </div>

          </div>
        </div>
      </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>  
</body>
</html>