{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <!-- start -->
    <section class="container">
        <div class="row">
            <div class="col-md-12 bio-image">
                <img src="img/Rectangle%2061%20(1).png" class=" img-responsive img-fluid" alt="Responsive image"  height="">
                <div class="row">
                    <div class="col-lg-6 col-md col-sm-6">
                        <div class="img-text">
                            <span class="">
                                <p class="img-text-p">CREATE A TRUE CELEBRATION OF LIFE</p>
                                <p class="img-text-p1 d-none">CREATE A TRUE</p>
                                <p class="img-text-p1 d-none">CELEBRATION OF LIFE</p>
                                <button class="btn btn-light btn-lg img-text-btn-lg" style="color: #1F0541;">Create memorials</button>
                                <button class="btn btn-light btn-md img-text-btn-md" style="color: #1F0541;">Create memorials</button>
                                <button class="btn btn-light btn-sm img-text-btn-sm" style="color: #1F0541;">Create memorials</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end -->
    <section class="container mb-5 text-center " style="color: #1F0541; ">
        <div class="create-better">
            <h2 class="">Create better memorials with our PREMIUM PLAN</h2>
            <p>Enjoy unlimited photos, videos, music, social media  </p>
            <p>integration, personalised websites and much more with a </p>
            <p>one-time payment of just ₦5,000</p>
        </div>
    </section>
    <section class="container text-center  " style="color: #1F0541;">
        <h3 class="mb-5">All Features</h3>
        <div class="row">
         <!-- <div class="col-2"></div> -->
            <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
                <div class=" basic container text-center container_basic ">
                    <h3 class="pt-5 text-center">Basic</h3>
                    <div class=" mt-4 text-left ">
                        <h4 class="mb-5 text-success text-center">Free</h4>
                        <p class="">No ads<i class="fa fa-check-circle ml-5 "></i></p>
                        <p>Photo gallery <i class="fa fa-check-circle ml-5"></i></p>
                        <p>Share your memories<i class="fa fa-check-circle ml-5"></i> </p>
                        <p>Unlimited collaborations<i class="fa fa-check-circle ml-5"></i> </p>
                        <p>Personalized web address <i class="fa fa-check-circle ml-5"></i></p>
                        <p>Control privacy<i class="fa fa-check-circle ml-5"></i> </p>
                    </div>
                    <a href="create-memorial.html" class="btn btn-success btn-lg text-light btn-basic " >Create memorials</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
                <div class=" basic container text-center container_premium">
                    <h3 class="pt-5 text-center">Premium</h3>
                    <div class=" mt-4  text-left">
                        <h4 class="mb-5  text-center">N50,000</h4>
                        <p>Unlimited photos<i class="fa fa-check-circle ml-5"></i> </p>
                        <p>Unlimited videos<i class="fa fa-check-circle ml-5"></i></p>
                        <p>Unlimited music<i class="fa fa-check-circle ml-5"></i> </p>
                        <p>Full integration with<i class="fa fa-check-circle ml-5"></i> </p>
                        <p style="line-height: 0px">facebook and youtube</p>
                        <p>Additional administrators<i class="fa fa-check-circle ml-5"></i> </p>
                        <p>Customized notifications<i class="fa fa-check-circle ml-5"></i></p>
                        <p>All basic features<i class="fa fa-check-circle ml-5"></i></p>
                    </div>
                    <a href="#choose" class="btn  btn-lg text-light btn-premium" style="background: #1F0541;" >Create memorials</a>
                </div>
            </div>
        </div>
    </section>
    <section class="sub_premium container">
        <h3 class="h3-plan text-center" id="choose">Choose your payment plan</h3>
        <div class="row container text-center">
            <div class="col-md mb-5" style="color: #1566E0;">
                <h4>Monthly</h4>
                <h4>#3,000/mo</h4>
                <p> pay as you go</p>
                <button class="btn text-light " style="background: #1566E0;">Select</button>
            </div>
            <div class="col-md mb-5"  style="color:  #042558;">
                <h4>Yearly</h4>
                <h4 class="">#24,000</h4>
                <p>#3,000/mo</p>
                <button class="btn  text-light" style="background: #042558;">Select</button>
            </div>
            <div class="col-md mb-3" style="color: #1F0541;">
                <h4>Lifetime</h4>
                <h4>#50,000</h4>
                <p>one time payment</p>
                <button class="btn text-light" style="background:  #1F0541;">Select</button>
            </div>
        </div>
    </section>
    <section class="section5 " style=" background-color: #1F0541; color: #E6E0ED;">
        <div class="container  ">
            <div class="row">
                <div class="col-md mx-auto">
                    <h3 class=" pt-5">30 DAY REFUND GUARANTEE </h3>
                    <p>We want you to be completely satisfied with your Inourmindsforever.com memorial. </p>
                    <p>If you wish to cancel your premium plan for any reason within the first 30 days, we will issue a full refund.</p>
                    <h3 class="mb-5 mt-5">SAFE AND SECURE</h3>
                    <p ><i class="fa fa-lock mr-2"></i>Your personal information and memories are safe and secure with us: </p>
                    <p> <i class="fa fa-lock mr-2"></i> We will never provide your personal information to third parties.</p>
                    <p> <i class="fa fa-lock mr-2"></i>Our servers are protected in a high security building with 24-hour surveillance.</p>
                    <p> <i class="fa fa-lock mr-2"></i> All of the data (photos, text, etc) you have stored with us is backed up daily.</p>
                    <p class=""> <i class="fa fa-lock mr-2"></i>All credit card transactions are processed with 256 Bit Strong SSL Encryption and billing information is stored on a fully PCI compliant servers.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}