<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <title>InourMindsForever</title>
  </head>
  <body class="" style="background: #E6E0ED;">
      <header class="mb-80px">
        

         
         
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
              <a href="index.html">  <img class="navbar-brand" src="img/logo.jpeg" width="105px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Memorials
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="mem-search.html">Browse memorials</a>
                      <a class="dropdown-item" href="create-memorial.html">Create memorials</a>
                      
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                  </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="how.html">How it works</a>
                    <a class="dropdown-item" href="about.html">FAQs</a>
                    <a class="dropdown-item" href="contact.html">Contact us</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav justify-content-end ">
                        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Search Memorials by their last names" href="#"><i class="fa fa-search mr-2"></i></a>
                        <a class="nav-link" href="login.html"><i class="fa fa-lock mr-2"></i>Sign in</a>
                        <a class="nav-link btn btn-primary text-light" href="#"><i class="fa fa-facebook mr-2"></i>Share</a>   
              </ul>
            </div>

          </nav>
      </header>
                

            <section class="container privacy-policy pb-5">
                <h3 class=" pt-4 text-dark">Privacy policy</h3>
                <div class="row justify-content-center ">
                    <div class="col-md-12 col-sm-12 pb-5 pl-5 pr-5  " style="background: #D9C7EE; color: #1F0541;">
                       
                        <h4 class=""></h4>
                        <p class="">Please read the following Privacy Policy ("Privacy Policy") carefully before using www.InOurMindsForever.com or any website or application ("App") powered by Memories Forever ltd., (collectively, the "Services").</p>
                        <h4 class="">WHAT THIS PRIVACY POLICY COVERS</h4>
                        <p class="">
                            This Privacy Policy covers how Memories Forever ltd., (collectively, "Memories Forever ltd.", "we", "us", or "our") treats user or personally identifiable information that the Services collect and receive. If, however, you are accessing this Privacy Policy from a website operated in conjunction with one of our affiliates ("Affiliates"), the privacy policy of the Affiliate will govern unless such policy states otherwise.
                            
                           </p>
                        <p class=""> Subject to the above, this Privacy Policy does not apply to the practices of companies that Memories Forever ltd., does not own, operate or control, or to people that it does not employ or manage.</p>
                        <h4 class="">GENERAL</h4>
                        <p class="">
                            In general, you can browse the Services without telling us who you are or revealing any information about yourself to us. Memories Forever ltd., does not collect personally identifiable information about individuals, except when specifically and knowingly provided by such individuals on interactive areas of the Services. "Personally Identifiable Information" is information that can be used to uniquely identify, contact, or locate a single person, such as name, postal address, e-mail address, phone number, and credit card number, among other information, and that is not otherwise publicly available. Any posting made while using the Services, and any other information that can be viewed by the public and therefore is not considered "personal information" or "Personally Identifiable Information" is not the type of information covered by this Privacy Policy.</p>
                        <h4 class="">INFORMATION WE COLLECT</h4>
                        <p class="">
                            When you register with InOurMindsForever, you provide us with certain Personal Information, such as your name, your email address and any other information that you provide to us.
                           
                        <p class="">  
                            When you use InOurMindsForever, you may set up your personal profile, send messages, perform searches, and transmit information through various channels. We collect this information so that we can provide you the service. In some cases, we retain it so that, for instance, you can return to view prior messages you have sent.
                           </p>
                        <p class=""> When you use InOurMindsForever, you may set up your personal profile, send messages, perform searches, and transmit information through various channels. We collect this information so that we can provide you the service. In some cases, we retain it so that, for instance, you can return to view prior messages you have sent.
                        </p>
                        
                        <p class=""> Any posting of User Content while using InOurMindsForever can be viewed by the public and is not considered “Personal Information” and is not the type of information protected by this Privacy Policy. You post User Content (as defined in the InOurMindsForever Terms of Use) on the Website at your own risk. We cannot control the actions of other users with whom you may choose to share your information. Therefore, we cannot and do not guarantee that User Content you post on the Website will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Website. You understand and acknowledge that, even after removal, copies of User Content may remain viewable in cached and archived pages or if other Users have copied or stored your User Content.
                        </p>
                        <p class=""> When you create a Memorial Website you provide us with certain Personal Information about the person(s) you are creating the Website for. For example, we also collect the name, location, date of birth and date of death of the deceased person.
                        </p>
                        <p class="">
                            If you choose to use our invitation service to tell a friend about our Website, we will ask you for information needed to send the invitation, such as your friend's email address. We will automatically send your friend a one-time email inviting him or her to visit the Website.
                            </p>
                        <p class="">
                            Any improper collection or misuse of information provided on InOurMindsForever is a violation of the InOurMindsForever Terms of Use and should be reported to privacy@yourtribute.com. By using InOurMindsForever, you are consenting to have your personal data transferred to and processed in the United States.</p>
                        </p>

                        <h4 class="">HOW WE USE YOUR INFORMATION</h4>
                        <p class="">We will use your information only as permitted by law, and subject to the terms of our Privacy Policy.
                        </p>
                        <p class="">
                            Use of Personally Identifiable Information:
                            </p>
                        <p class="">
                            We do not sell or share your Personally Identifiable Information with unrelated third parties for their direct marketing purposes.
                            Personally Identifiable Information and other personal information you specifically provide may be used:
                            To provide the Services we offer, to process transactions and billing, for identification and authentication purposes, to communicate with you concerning transactions, security, privacy, and administrative issues relating to your use of the Services, to improve Services, to do something you have asked us to do, or to tell you of Services that we think may be of interest to you.
                            To communicate with you regarding our Services.
                            For the administration of and troubleshooting regarding the Services. Certain third parties who provide technical support for the operation of the Services (our web hosting service, for example), may need to access such information from time to time, but are not permitted to disclose such information to others.
                            We may disclose Personally Identifiable Information about you under the following circumstances:
                            In the course of operating our business, it may be necessary or appropriate for us to provide access to your Personally Identifiable Information to others such as our service providers, contractors, select vendors and Affiliates so that we can operate the Services and our business. Where practical, we will seek to obtain confidentiality agreements consistent with this Privacy Policy and that limit others’ use or disclosure of the information you have shared.
                            We may share your Personally Identifiable Information if we are required to do so by law or we in good faith believe that such action is necessary to: (1) comply with the law or with legal process (such as pursuant to court order, subpoena, or a request by law enforcement officials); (2) protect, enforce, and defend our Terms of Use, rights and property; (3) protect against misuse or unauthorized use of this the Services; or (4) protect the personal safety or property of our users or the public (among other things, this means that if you provide false information or attempt to pose as someone else, information about you may be disclosed as part of any investigation into your actions).
                            Use of Anonymous Information:</p>
                        <p class="">
                            Certain information that we collect automatically or with electronic tools (such as cookies) is used to anonymously track and measure user traffic for the Services and to enhance your experience with the Services. For example:
                            IP Addresses/Session Information. We occasionally may obtain IP addresses from users depending upon how you access the Services. IP addresses, browser, and session information may be used for various purposes, including to help administer the Services and diagnose and prevent service or other technology problems related to the Services. This information also may be used to estimate the total number of users downloading any App and browsing other Services from specific geographical areas, to help determine which users have access privileges to certain content or services that we offer, and to monitor and prevent fraud and abuse. IP addresses are not linked to Personally Identifiable Information.
                            Cookies. A cookie is a small amount of data that often includes an anonymous unique identifier that is sent to your browser from a website's computers and stored on your computer’s hard drive or comparable storage media on your mobile device. You can configure your browser to accept cookies, reject them, or notify you when a cookie is set. If you reject cookies, you may not be able to use our Services that require you to sign in, or to take full advantage of all our offers. Cookies may involve the transmission of information either directly to us or to another party we authorize to collect information on our behalf. We use our own cookies to transmit information for a number of purposes, including but not limited to:
                            require you to re-enter your password after a certain period of time has elapsed to protect you against others accessing your account contents;
                            keep track of preferences you specify while you are using the Services;
                            estimate and report our total audience size and traffic;
                            conduct research to improve the content and Services.</p>

                        <h4 class="">PRIVACY ALERT: YOUR POSTINGS GENERALLY ARE ACCESSIBLE TO THE PUBLIC</h4>

                     <p class="">Your own use of the Services may disclose personal information or Personally Identifiable Information to the public. For example:
                        </p>
                        <p class="">
                            Submissions and other postings to our Services are available for viewing by all our visitors unless the sponsor or host of a Service selects a privacy setting that restricts public access. Please remember that any information disclosed on a non-restricted Service becomes public information and may be collected and used by others without our knowledge. You therefore should exercise caution when disclosing any personal information or Personally Identifiable Information in these forums.
                            When you post a message to any message board, blog, or other public forum available through the Services, your user ID or alias that you are posting under may be visible to other users, and you have the ability to post a message that may include personal information.
                            If you post Personally Identifiable Information online that is accessible to the public, you may receive unsolicited messages from other parties in return. Such activities are beyond the control of Memories Forever ltd., and the coverage of this Privacy Policy. Please be careful and responsible whenever you are online. In addition, although we employ technology and software designed to minimize spam sent to users and unsolicited, automatic posts to message boards, blogs, or other public forums available through the Services (like the CAPTCHA word verification you see on email and registration forms), we cannot ensure such measures to be 100% reliable or satisfactory.
                            </p>

                        <h4 class="">  OWNERSHIP</h4>
                        <p class="">Memories Forever ltd., are the sole owner(s) of all non-personally identifiable information they collect through the Services. This paragraph shall not apply to Material subject to the license granted by users to Memories Forever ltd., pursuant to Section 3 of the Terms of Use governing the Services.
                        </p>

                        <h4 class="">SECURITY MEASURES</h4>
                        <p class="">The security and confidentiality of your Personally Identifiable Information is extremely important to us. We have implemented technical, administrative, and physical security measures to protect guest information from unauthorized access and improper use. From time to time, we review our security procedures in order to consider appropriate new technology and methods. Please be aware though that, despite our best efforts, no security measures are perfect or impenetrable, and no data transmissions over the web can be guaranteed 100% secure. Consequently, we cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk.
                        </p>

                        <h4 class="">CORRECTING OR UPDATING INFORMATION</h4>
                        <p class="">
                            You may modify and correct Personally Identifiable Information provided directly to Memories Forever ltd., in connection with the Services, if necessary. Memories Forever ltd., offers users the following options for updating information:
                            Send an e-mail to us at Contact Us;
                            Send a letter to us via postal mail to the following address: Memories Forever ltd.,, 1855 E. 12st., suite 6H, Brooklyn, NY 11229
                        </p>
                        <h4 class="">OPT-OUT PROCEDURES</h4>
                        <p class="">You may opt out of receiving future mailings or other information from Memories Forever ltd., If the mailing does not have an e-mail cancellation form, send an e-mail to Contact Us detailing the type of information that you no longer wish to receive.
                        </p>
                        <h4 class="">THIRD PARTY ADVERTISING AND AD DELIVERY</h4>
                        <p class="">This Service contains links to other sites that may be of interest to our visitors. This Privacy Policy applies only to InOurMindsForever.com and not to other companies’ or organizations’ Web sites to which we link. We are not responsible for the content or the privacy practices employed by other sites.
                        </p>
                        <h4 class="">CHANGES TO THIS PRIVACY POLICY</h4>
                        <p class="">We may periodically edit or update this Privacy Policy. We encourage you to review this Privacy Policy whenever you provide information on this Web site. Your use of the Services after changes of the terms of the Privacy Policy have been posted will mean that you accept the changes.
                        </p>
                        <h4 class="">
                            ADDITIONAL INFORMATION</h4>
                        <p class="">Questions regarding the InOurMindsForever.com Privacy Policy should be directed to Contact Us or Memories Forever ltd.,, 1855 E. 12st., suite 6H, Brooklyn, NY 11229</h4>
                        </p>
                       
                    </div>
                  </div>
            </section>

            <section>
              <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
              
            </section>

            <footer  class=" text-light" style="background: #1c0b32;">
              <div class="container">
                <div class="row text-center pt-5">
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p class="">GETTING STARTED</p>               
                           <li class="list-unstyled"><a class="nav-link text-light" href="mem-search.html">Browse Memorials</a></li>
                       <li class="list-unstyled"><a class="nav-link text-light" href="create-memorial.html">Create a Memorial</a></li>
                        <li class="list-unstyled"><a class="nav-link text-light" href="index.html">How It works</a></li>
                        
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p>CONTACT US</p>
                    <p>support@inourmindsforever.com</p>
                    <p>+2348023016186</p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      
                    <p class="">LINKS</p>
                         
                    <li class=" list-unstyled"><a class="nav-link text-light" href="about.html">FAQs</a></li>
            
                  <li class="list-unstyled"><a class="nav-link text-light" href="terms.html">Terms & Conditions</a></li>
           
                    <li class="list-unstyled text-light"><a class="nav-link text-light" href="privacy.html">Privacy Policy</a></li>
             
                   
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12  ">
                  <div class="row ">
                    <div class="col-md col-sm-12">
                        <div class=" text-center submenu-linka d-flex justify-content-center" >
                           <a href="" class="text-light text-decoration-none pb-3 pr-3"><i class="fa fa-facebook mr-3"></i></a>
                            <a href="" class="text-light  text-decoration-none pb-3 pr-3"><i class="fa fa-twitter mr-3 "></i></a>
                            <a href="" class="text-light  text-decoration-none pb-3"><i class="fa fa-instagram"></i></a>
                            
                        </div>
                        <p class="">COPYRIGHT <span><script>document.write(new Date().getFullYear())</script></span> InOurMindsForever</p>
      
                      </div>
                  
                    </div>
                  </div>
      
                </div>
              </div>
            </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>  
</body>
</html>